.siteheader{
    width: 100%;
    height: 300vh;
    background: linear-gradient(57deg,  #ffffff, #ffffff);
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); */
}

/*************** Navbar ***************/

.button-left {

	float: left;
	margin-left: 10px;

}

/*************** Content ***************/

body {

	font-family: "Lato", sans-serif;
	color: #747704;
	font-weight: 300;
	padding-top: 50px; /* For navbar */

}

/*************** Header ***************/

.title-logo {

	margin-top: 25px;

}

.text-thin {

	font-weight: bolder;

}

.title-super {

	font-size: 30px;

}

hr {

	height: 5px;
	background-color: #bcbbbb;

}

/*************** Bottom ***************/

.text-muted {

	color: #bcbbbb;
	font-size: 25px;
	font-weight: bold;

}

.text-bold {

	font-weight: bold;
	font-size: 25px;

}

.img-center {

	margin: 0 auto;

}

/*************** To Ajust To Screen Size ***************/

@media screen and (min-width: 722px) {


	.logo-img {

		content: url("images/me_100x100.jpg");

	}

	.title-super {

		font-size: 60px;

	}

	.mid-img {

		content: url("images/img_1200x400.jpg");

	}

	.text-muted {

		font-size: 30px;
	}

	.text-bold {

		font-size: 30px;

	}

}
/*Knowledge and Skills*/
.knowledge{
    width: 100%;
    height: 10vh;
	margin-top: 0px;
	text-align: center;
	padding-left: 50px;
    font-size: 50px;
    color: black;
}
.changetext{
	text-align: center;
	margin-top: 30px;
}
.changetext:after{
    width: 100%;
    height: 50vh;
	margin-top: 1000px;
	font-size: 50px;
	font-weight: bolder;
    color: #747704;
    content: '';
    animation: changetext 20s infinite linear;
}
@keyframes changetext{
    0%{content: 'HTML';}
    35%{content: 'CSS';}
    70%{content: 'JavaScript';}
    100%{content: 'Bootstrap';}
}
/* Created By Felipe's Fernandez */
